body
{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.header
{
  margin: 10px;
  display: flex;
  gap: 20px;
  background-color: aqua;
  justify-content: right;
}
#logo_h
{
  /* padding: 10px; */
  position: absolute;
  left: 20px;
  /* background-color: red; */
}
#logo_h, #account_h, #cart_h, #sell_h,#account_h
{
  width: 50px;
  align-self: center;
}
#search_bar
{
  display: flex;
  justify-content: center;
}
#search_logo
{
  width: 50px;
}
#account_h, #cart_h
{
  display:flex;
  align-items: flex-end;
}
.header_title
{
  align-self: center;
  font-size: 25px;
}
#search_input
{
  width: 80vw;
  height: 30px;
  border-radius: 30px;
  padding: 10px;
  align-self: center;
  font-size: 25px;
}
#account_h
{
  align-items: end;
}
/* .filter
{
  width: 20%;
  height: 1000000px;
  background-color: red;
} */


/* product deign */
.product_border
{
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  /* display: flex; */
  width: 300px;
  position: relative;
  left: 5vw;
  margin-top: 10px;
}
#game_pic
{
  height: 150px;
  width: 120px;
  position: relative;
  left: 20%;
  margin: 20px;
}
#image_center_div
{
  background-color: green;
}
#platform_pic
{
  width: 50px;
  position: relative;
  left: 5vw;
  top: 80px;
}
#game_title
{
  /* font-size: 50px; */
  margin-left: 30px;
  font-size: 40px;
  max-width: 200px;
}
#game_price
{
  font-size: 30px;
  margin-left: 25%;
}
.product
{
  margin-top: 50px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  row-gap: 20px;
}
@media (max-width: 1100px) {
  .product
  {
    grid-template-columns: auto auto;
  }
}
#sigin-section
{
  position: relative;
  top: 150px;
  display: flex;
  justify-content: center;
  /* background-color: red; */
}
#profile-text
{
  position: relative;
  top: 200px;
  font-size: 40px;
  /* row-gap: 500px; */
}
#profile-header
{
  display: grid;
  grid-template-columns: auto auto;
}
#profile-name
{
  /* font-size: 50px; */
  padding-bottom: 50px;
}

#item-display
{
  display: grid;
  grid-template-columns: auto auto;
}

